kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
#  extraPortMappings:
#  - containerPort: 80
#    hostPort: 80
#    listenAddress: "0.0.0.0"
#    protocol: tcp
#  extraMounts:
#    - containerPath: /etc/docker/certs.d/172.16.140.11
#      hostPath: /etc/docker/certs.d/172.16.140.11
- role: worker
- role: worker
- role: worker
#containerdConfigPatches:
#  - |-
#    [plugins."io.containerd.grpc.v1.cri".registry.configs."172.16.140.11".tls]
#      cert_file = "/etc/docker/certs.d/172.16.140.11/ca.cert"
#      key_file = "/etc/docker/certs.d/172.16.140.11/ca.key"

